.formularz{
    background-color: grey;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    position: absolute;
    width: 350px;
    height: 250px;
    border: 3px solid rgb(71, 71, 71);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input, button{
    margin: 5px;
}

.widok{
    display: none;
}

nav, footer{
    background-color: rgb(95, 95, 110);
}

body{
    background-color: rgb(180, 180, 196);
}

.stopka{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: black;
}

a:link, a:visited, a:active{
    color: black;
}

a:hover{
    color: rgb(34, 34, 34);
}